
@{
    ViewData["Title"] = "Play Sticks and Stones!";
}
<noscript class="jumbotron">
    <p>
        If you are reading this message, you are attempting to play Sticks and Stones with JavaScript disabled
        Please enable JavaScript in your browser and reload this page to begin playing.
    </p>
</noscript>
<script>
    $(document).ready(function()
    {
        document.location = '@Url.Action("SelectProfile", "Play")';
    });
</script>