@model SticksAndStones.Models.GameComponents.Lobby
@{
    ViewData["Title"] = "Play Sticks and Stones! - " + Model.PlayerAName + " vs. " + Model.PlayerBName;
}

<div id="GameDisplay"> <!-- Game content displays here --> </div>
<form id="GameControls">
    <!-- Game controls go here -->
</form>
