@model SticksAndStones.Models.DAL.Move

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Move</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flavortext" class="control-label"></label>
                <textarea asp-for="Flavortext" class="form-control"></textarea>
                <span asp-validation-for="Flavortext" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharacterId" class="control-label"></label>
                <select asp-for="CharacterId" class="form-control">
                    <!-- I wasn't sure how to display the name with a data list so I opted for this method for a cleaner front end look -->
                    @foreach (SticksAndStones.Models.DAL.Character character in ViewBag.Characters)
                    {
                        <option value="@character.CharacterId">@character.Name</option>
                    }
                </select>
                <span asp-validation-for="CharacterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h3>Move Effects</h3>
                @foreach (SticksAndStones.Models.DAL.Effect effect in ViewBag.Effects)
                {
                    <label for="effects">@effect.Name</label>
                    <input type="checkbox" name="effects" value="@effect.EffectId" />
                    <br />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
