@{
    ViewData["Title"] = "About";
}
<div>
    <h1 class="display-4">About Sticks &amp; Stones</h1>
    <p>
        This game was an idea I came up with over the Summer as a game that could be 
        developed collaboratively during a weekend game jam. Though the game jam never 
        happened owing in part to my hectic work schedule I thought the idea was 
        interesting enough to develop. I’ve been tinkering with computer programming 
        for over 10 years now, first getting interested in studying software development 
        from the lens of game development. I’ve tried to turn away from it for so long, 
        but at the end of the day, I love the idea of making games. Though, I struggle 
        with the artistic side of game development (probably why I decided it wasn’t 
        for me), I’ve always loved to think about what goes on behind the scenes so to 
        speak. This game is simple enough graphically for me to produce, but mechanically 
        deep enough for me to really challenge myself. Thank you so much for reading my 
        story, and I hope to see you on the battle field!
        <br />
        <br />
        Sincerly,
        <br />
        Josh Pion (jP)
        <br />
        Game Dev
    </p>
</div>