@{
    ViewData["Title"] = "Contact";
}
<div class="row">
    <h1 class="display-4 col-md-12">Dev "Team"</h1>
    <div class="col-md-5">
        Although this is a solo project created for the purpose of this 
        class here at NMC I do think it would be fun to develop out further
        depending on how this turns out. With that in mind, please feel free
        to contact me if interested in working on this at...
        <address>Josh Pion - <a href="mailto:pionj@mail.nmc.edu">pionj@mail.nmc.edu</a></address>
    </div>
    <img src="~/images/josh.jpg" alt="Photo of the developer" class="col-md-3 rounded-circle" style="width:100%" />
    <div class="col-md-4"><!-- SPACER --></div>
</div>
