@{
    ViewBag.Title = "Welcome!";
}
<h1 class="text-center text-black-50 text-uppercase">Welcome!</h1>
<div class="row">
    <div class="col-md-7">
        <img src="~/images/logo.svg" width="70%" style="margin-left:15%; margin-right:15%" />
        <h2 class="text-center text-uppercase text-wrap pl-2 pr-2 pt-2">@ViewBag.Tagline</h2>
    </div>
    <div class="col-md-5">
        <p class="text-uppercase text-justify">
            Welcome to Sticks &amp; Stones! Are you an aging gamer who can't keep up 
            with those young whippersnappers and their "real-time fighting games"?
            Try Sticks &amp; Stones today! The online PvP Turn-based fighting game.
            Beat those whippersnapoers with your superior logic, reason, and strategy!!!
        </p>
    </div>
</div>