@{
    Layout = "_Layout";
    ViewData["Title"] = "Welcome To Sticks & Stones!";
}
<div class="row">
    <header class="col-12">
        <h1>Sticks &amp; Stones</h1>
    </header>
</div>
<div class="row">
    <div class="col-7">
        <h2>Tagline Here...</h2>
        <img src="~/images/LogoPlaceholder.png" class="img-fluid" style="width:100%; max-width:400px" />
    </div>
    <div class="col-5">
        <a asp-action="Index" asp-controller="Play" class="play-btn btn btn-primary text-center mt-2 pl-3 pr-3">Play!</a>
        <br />
        <a asp-action="Tutorial" asp-controller="Play" class="text-center">Play Tutorial</a>
    </div>
</div>